In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
import os

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=(["EIN", "NAME", "SPECIAL_CONSIDERATIONS", "STATUS", "ORGANIZATION", "ASK_AMT"]))
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,0,1
1,T3,Independent,C2000,Preservation,1-9999,1
2,T5,CompanySponsored,C3000,ProductDev,0,0
3,T3,CompanySponsored,C2000,Preservation,10000-24999,1
4,T3,Independent,C1000,Heathcare,100000-499999,1

In [3]:
# Determine the number of unique values in each column.
app_list = application_df.dtypes.index.tolist()


# Check the number of unique values in each column
application_df[app_list].nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
INCOME_AMT           9
IS_SUCCESSFUL        2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_app = list(app_type_counts[app_type_counts < 10000].index)

# Replace in dataframe
for app in replace_app:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1732        1
C1283        1
C1370        1
C1900        1
C2380        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1880].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'INCOME_AMT']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 232
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 283
Trainable params: 283
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints_challenge/",exist_ok=True)
checkpoint_path = "checkpoints_challenge/weights.{epoch:02d}.hdf5"

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    )

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
  1/804 [..............................] - ETA: 0s - loss: 0.6723 - accuracy: 0.6562WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0010s). Check your callbacks.
804/804 [==============================] - 1s 982us/step - loss: 0.6111 - accuracy: 0.6964
Epoch 2/100
804/804 [==============================] - 1s 868us/step - loss: 0.5959 - accuracy: 0.6997
Epoch 3/100
804/804 [==============================] - 0s 497us/step - loss: 0.5936 - accuracy: 0.7011
Epoch 4/100
804/804 [==============================] - 0s 462us/step - loss: 0.5928 - accuracy: 0.7021
Epoch 5/100
765/804 [===========================>..] - ETA: 0s - loss: 0.5915 - accuracy: 0.7045
Epoch 00005: saving model to checkpoints_challenge\weights.05.hdf5
804/804 [==============================] - 0s 484us/step - loss: 0.5921 - accuracy: 0.7037
Epoch 6/100
804/804 [==============================] - 0s 496us/step - loss: 0.5913 - accuracy: 0.7035
Epoch 7/100
804/804 [==============================] - 0s 471us/step - loss: 0.5909 - accuracy: 0.7046
Epoch 8/100
804/804 [==============================] - 0s 478us/step - loss: 0.5902 - accuracy: 0.7050
Epoch 9/100
804/804 [==============================] - 0s 481us/step - loss: 0.5900 - accuracy: 0.7045
Epoch 10/100
737/804 [==========================>...] - ETA: 0s - loss: 0.5904 - accuracy: 0.7045
Epoch 00010: saving model to checkpoints_challenge\weights.10.hdf5
804/804 [==============================] - 0s 530us/step - loss: 0.5898 - accuracy: 0.7053
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5896 - accuracy: 0.7055
Epoch 12/100
804/804 [==============================] - 0s 498us/step - loss: 0.5892 - accuracy: 0.7055
Epoch 13/100
804/804 [==============================] - 0s 472us/step - loss: 0.5891 - accuracy: 0.7053
Epoch 14/100
804/804 [==============================] - 0s 464us/step - loss: 0.5892 - accuracy: 0.7048
Epoch 15/100
739/804 [==========================>...] - ETA: 0s - loss: 0.5874 - accuracy: 0.7074
Epoch 00015: saving model to checkpoints_challenge\weights.15.hdf5
804/804 [==============================] - 0s 495us/step - loss: 0.5889 - accuracy: 0.7060
Epoch 16/100
804/804 [==============================] - 0s 519us/step - loss: 0.5889 - accuracy: 0.7052
Epoch 17/100
804/804 [==============================] - 0s 527us/step - loss: 0.5884 - accuracy: 0.7061
Epoch 18/100
804/804 [==============================] - 1s 698us/step - loss: 0.5884 - accuracy: 0.7056
Epoch 19/100
804/804 [==============================] - 0s 607us/step - loss: 0.5883 - accuracy: 0.7058
Epoch 20/100
741/804 [==========================>...] - ETA: 0s - loss: 0.5885 - accuracy: 0.7057
Epoch 00020: saving model to checkpoints_challenge\weights.20.hdf5
804/804 [==============================] - 0s 492us/step - loss: 0.5882 - accuracy: 0.7060
Epoch 21/100
804/804 [==============================] - 0s 475us/step - loss: 0.5882 - accuracy: 0.7059
Epoch 22/100
804/804 [==============================] - 0s 481us/step - loss: 0.5882 - accuracy: 0.7060
Epoch 23/100
804/804 [==============================] - 0s 486us/step - loss: 0.5879 - accuracy: 0.7063
Epoch 24/100
804/804 [==============================] - 0s 555us/step - loss: 0.5880 - accuracy: 0.7064
Epoch 25/100
727/804 [==========================>...] - ETA: 0s - loss: 0.5877 - accuracy: 0.7066
Epoch 00025: saving model to checkpoints_challenge\weights.25.hdf5
804/804 [==============================] - 0s 567us/step - loss: 0.5878 - accuracy: 0.7060
Epoch 26/100
804/804 [==============================] - 0s 470us/step - loss: 0.5880 - accuracy: 0.7062
Epoch 27/100
804/804 [==============================] - 0s 487us/step - loss: 0.5878 - accuracy: 0.7060
Epoch 28/100
804/804 [==============================] - 0s 487us/step - loss: 0.5879 - accuracy: 0.7052
Epoch 29/100
804/804 [==============================] - 0s 564us/step - loss: 0.5878 - accuracy: 0.7066
Epoch 30/100
751/804 [===========================>..] - ETA: 0s - loss: 0.5879 - accuracy: 0.7063
Epoch 00030: saving model to checkpoints_challenge\weights.30.hdf5
804/804 [==============================] - 0s 520us/step - loss: 0.5875 - accuracy: 0.7062
Epoch 31/100
804/804 [==============================] - 0s 451us/step - loss: 0.5873 - accuracy: 0.7066
Epoch 32/100
804/804 [==============================] - 0s 492us/step - loss: 0.5873 - accuracy: 0.7058
Epoch 33/100
804/804 [==============================] - 0s 479us/step - loss: 0.5874 - accuracy: 0.7055
Epoch 34/100
804/804 [==============================] - 0s 465us/step - loss: 0.5876 - accuracy: 0.7065
Epoch 35/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5873 - accuracy: 0.7069
Epoch 00035: saving model to checkpoints_challenge\weights.35.hdf5
804/804 [==============================] - 0s 476us/step - loss: 0.5873 - accuracy: 0.7069
Epoch 36/100
804/804 [==============================] - 0s 462us/step - loss: 0.5872 - accuracy: 0.7064
Epoch 37/100
804/804 [==============================] - 0s 465us/step - loss: 0.5872 - accuracy: 0.7070
Epoch 38/100
804/804 [==============================] - 0s 485us/step - loss: 0.5873 - accuracy: 0.7067
Epoch 39/100
804/804 [==============================] - 0s 474us/step - loss: 0.5870 - accuracy: 0.7064
Epoch 40/100
742/804 [==========================>...] - ETA: 0s - loss: 0.5881 - accuracy: 0.7064
Epoch 00040: saving model to checkpoints_challenge\weights.40.hdf5
804/804 [==============================] - 0s 521us/step - loss: 0.5872 - accuracy: 0.7068
Epoch 41/100
804/804 [==============================] - 0s 460us/step - loss: 0.5871 - accuracy: 0.7063
Epoch 42/100
804/804 [==============================] - 0s 461us/step - loss: 0.5871 - accuracy: 0.7060
Epoch 43/100
804/804 [==============================] - 0s 461us/step - loss: 0.5870 - accuracy: 0.7069
Epoch 44/100
804/804 [==============================] - 0s 469us/step - loss: 0.5868 - accuracy: 0.7065
Epoch 45/100
751/804 [===========================>..] - ETA: 0s - loss: 0.5870 - accuracy: 0.7075
Epoch 00045: saving model to checkpoints_challenge\weights.45.hdf5
804/804 [==============================] - 0s 486us/step - loss: 0.5868 - accuracy: 0.7068
Epoch 46/100
804/804 [==============================] - 0s 465us/step - loss: 0.5870 - accuracy: 0.7068
Epoch 47/100
804/804 [==============================] - 0s 460us/step - loss: 0.5869 - accuracy: 0.7066
Epoch 48/100
804/804 [==============================] - 0s 458us/step - loss: 0.5867 - accuracy: 0.7070
Epoch 49/100
804/804 [==============================] - 0s 464us/step - loss: 0.5868 - accuracy: 0.7061
Epoch 50/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5863 - accuracy: 0.7076
Epoch 00050: saving model to checkpoints_challenge\weights.50.hdf5
804/804 [==============================] - 0s 483us/step - loss: 0.5869 - accuracy: 0.7070
Epoch 51/100
804/804 [==============================] - 0s 467us/step - loss: 0.5867 - accuracy: 0.7070
Epoch 52/100
804/804 [==============================] - 0s 465us/step - loss: 0.5866 - accuracy: 0.7070
Epoch 53/100
804/804 [==============================] - 0s 460us/step - loss: 0.5867 - accuracy: 0.7064
Epoch 54/100
804/804 [==============================] - 0s 453us/step - loss: 0.5868 - accuracy: 0.7070
Epoch 55/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5861 - accuracy: 0.7070
Epoch 00055: saving model to checkpoints_challenge\weights.55.hdf5
804/804 [==============================] - 0s 484us/step - loss: 0.5865 - accuracy: 0.7066
Epoch 56/100
804/804 [==============================] - 0s 477us/step - loss: 0.5867 - accuracy: 0.7074
Epoch 57/100
804/804 [==============================] - 0s 459us/step - loss: 0.5867 - accuracy: 0.7072
Epoch 58/100
804/804 [==============================] - 0s 465us/step - loss: 0.5867 - accuracy: 0.7075
Epoch 59/100
804/804 [==============================] - 0s 477us/step - loss: 0.5864 - accuracy: 0.7071
Epoch 60/100

804/804 [==============================] - ETA: 0s - loss: 0.5866 - accuracy: 0.7069
Epoch 00060: saving model to checkpoints_challenge\weights.60.hdf5
804/804 [==============================] - 1s 781us/step - loss: 0.5866 - accuracy: 0.7069
Epoch 61/100
804/804 [==============================] - 1s 739us/step - loss: 0.5864 - accuracy: 0.7068
Epoch 62/100
804/804 [==============================] - 0s 611us/step - loss: 0.5865 - accuracy: 0.7070
Epoch 63/100
804/804 [==============================] - 0s 557us/step - loss: 0.5866 - accuracy: 0.7074
Epoch 64/100
804/804 [==============================] - 0s 500us/step - loss: 0.5867 - accuracy: 0.7068
Epoch 65/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5866 - accuracy: 0.7069
Epoch 00065: saving model to checkpoints_challenge\weights.65.hdf5
804/804 [==============================] - 0s 510us/step - loss: 0.5864 - accuracy: 0.7072
Epoch 66/100
804/804 [==============================] - 0s 462us/step - loss: 0.5862 - accuracy: 0.7071
Epoch 67/100
804/804 [==============================] - 0s 469us/step - loss: 0.5864 - accuracy: 0.7073
Epoch 68/100
804/804 [==============================] - 0s 474us/step - loss: 0.5866 - accuracy: 0.7069
Epoch 69/100
804/804 [==============================] - 0s 473us/step - loss: 0.5864 - accuracy: 0.7071
Epoch 70/100
766/804 [===========================>..] - ETA: 0s - loss: 0.5859 - accuracy: 0.7070
Epoch 00070: saving model to checkpoints_challenge\weights.70.hdf5
804/804 [==============================] - 0s 478us/step - loss: 0.5864 - accuracy: 0.7073
Epoch 71/100
804/804 [==============================] - 0s 455us/step - loss: 0.5863 - accuracy: 0.7071
Epoch 72/100
804/804 [==============================] - 0s 459us/step - loss: 0.5865 - accuracy: 0.7074
Epoch 73/100
804/804 [==============================] - 0s 459us/step - loss: 0.5864 - accuracy: 0.7073
Epoch 74/100
804/804 [==============================] - 0s 462us/step - loss: 0.5863 - accuracy: 0.7067
Epoch 75/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5862 - accuracy: 0.7072
Epoch 00075: saving model to checkpoints_challenge\weights.75.hdf5
804/804 [==============================] - 0s 483us/step - loss: 0.5864 - accuracy: 0.7070
Epoch 76/100
804/804 [==============================] - 0s 460us/step - loss: 0.5861 - accuracy: 0.7071
Epoch 77/100
804/804 [==============================] - 0s 461us/step - loss: 0.5863 - accuracy: 0.7068
Epoch 78/100
804/804 [==============================] - 0s 461us/step - loss: 0.5864 - accuracy: 0.7071
Epoch 79/100
804/804 [==============================] - 0s 472us/step - loss: 0.5862 - accuracy: 0.7074
Epoch 80/100
741/804 [==========================>...] - ETA: 0s - loss: 0.5865 - accuracy: 0.7070
Epoch 00080: saving model to checkpoints_challenge\weights.80.hdf5
804/804 [==============================] - 0s 493us/step - loss: 0.5863 - accuracy: 0.7068
Epoch 81/100
804/804 [==============================] - 0s 485us/step - loss: 0.5862 - accuracy: 0.7067
Epoch 82/100
804/804 [==============================] - 0s 471us/step - loss: 0.5864 - accuracy: 0.7070
Epoch 83/100
804/804 [==============================] - 0s 472us/step - loss: 0.5862 - accuracy: 0.7070
Epoch 84/100
804/804 [==============================] - 0s 452us/step - loss: 0.5864 - accuracy: 0.7072
Epoch 85/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5864 - accuracy: 0.7064
Epoch 00085: saving model to checkpoints_challenge\weights.85.hdf5
804/804 [==============================] - 0s 480us/step - loss: 0.5863 - accuracy: 0.7068
Epoch 86/100
804/804 [==============================] - 0s 475us/step - loss: 0.5860 - accuracy: 0.7072
Epoch 87/100
804/804 [==============================] - 0s 487us/step - loss: 0.5864 - accuracy: 0.70750s - loss: 0.5884 - accu
Epoch 88/100
804/804 [==============================] - 0s 463us/step - loss: 0.5864 - accuracy: 0.7068
Epoch 89/100
804/804 [==============================] - 0s 448us/step - loss: 0.5861 - accuracy: 0.7075
Epoch 90/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5870 - accuracy: 0.7061
Epoch 00090: saving model to checkpoints_challenge\weights.90.hdf5
804/804 [==============================] - 0s 477us/step - loss: 0.5861 - accuracy: 0.7070
Epoch 91/100
804/804 [==============================] - 0s 492us/step - loss: 0.5860 - accuracy: 0.7070
Epoch 92/100
804/804 [==============================] - 0s 450us/step - loss: 0.5862 - accuracy: 0.7072
Epoch 93/100
804/804 [==============================] - 0s 458us/step - loss: 0.5860 - accuracy: 0.7074
Epoch 94/100
804/804 [==============================] - 0s 456us/step - loss: 0.5859 - accuracy: 0.7071
Epoch 95/100
788/804 [============================>.] - ETA: 0s - loss: 0.5862 - accuracy: 0.7070
Epoch 00095: saving model to checkpoints_challenge\weights.95.hdf5
804/804 [==============================] - 0s 464us/step - loss: 0.5863 - accuracy: 0.7069
Epoch 96/100
804/804 [==============================] - 0s 459us/step - loss: 0.5861 - accuracy: 0.7070
Epoch 97/100
804/804 [==============================] - 0s 485us/step - loss: 0.5859 - accuracy: 0.7071
Epoch 98/100
804/804 [==============================] - 0s 469us/step - loss: 0.5859 - accuracy: 0.7073
Epoch 99/100
804/804 [==============================] - 0s 450us/step - loss: 0.5861 - accuracy: 0.7073
Epoch 100/100
773/804 [===========================>..] - ETA: 0s - loss: 0.5862 - accuracy: 0.7076
Epoch 00100: saving model to checkpoints_challenge\weights.100.hdf5
804/804 [==============================] - 0s 468us/step - loss: 0.5859 - accuracy: 0.7076

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.2678 - accuracy: 0.5946
Loss: 1.267798900604248, Accuracy: 0.594635546207428