In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
import os

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=(["EIN", "NAME", "SPECIAL_CONSIDERATIONS", "STATUS", "ORGANIZATION", "ASK_AMT"]))
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,0,1
1,T3,Independent,C2000,Preservation,1-9999,1
2,T5,CompanySponsored,C3000,ProductDev,0,0
3,T3,CompanySponsored,C2000,Preservation,10000-24999,1
4,T3,Independent,C1000,Heathcare,100000-499999,1

In [3]:
# Determine the number of unique values in each column.
app_list = application_df.dtypes.index.tolist()


# Check the number of unique values in each column
application_df[app_list].nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
INCOME_AMT           9
IS_SUCCESSFUL        2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C1570        1
C1370        1
C2500        1
C6100        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'INCOME_AMT']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 872
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 923
Trainable params: 923
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints_challenge/",exist_ok=True)
checkpoint_path = "checkpoints_challenge/weights.{epoch:02d}.hdf5"

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    )

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 0s 561us/step - loss: 0.5973 - accuracy: 0.6909
Epoch 2/100
804/804 [==============================] - 0s 459us/step - loss: 0.5631 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 0s 444us/step - loss: 0.5592 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 0s 448us/step - loss: 0.5575 - accuracy: 0.7296
Epoch 5/100
793/804 [============================>.] - ETA: 0s - loss: 0.5564 - accuracy: 0.7305
Epoch 00005: saving model to checkpoints_challenge\weights.05.hdf5
804/804 [==============================] - 0s 463us/step - loss: 0.5566 - accuracy: 0.7304
Epoch 6/100
804/804 [==============================] - 0s 447us/step - loss: 0.5561 - accuracy: 0.7298
Epoch 7/100
804/804 [==============================] - 0s 445us/step - loss: 0.5552 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 0s 473us/step - loss: 0.5547 - accuracy: 0.7316
Epoch 9/100
804/804 [==============================] - 0s 490us/step - loss: 0.5541 - accuracy: 0.7310
Epoch 10/100
723/804 [=========================>....] - ETA: 0s - loss: 0.5540 - accuracy: 0.7307
Epoch 00010: saving model to checkpoints_challenge\weights.10.hdf5
804/804 [==============================] - 0s 510us/step - loss: 0.5538 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 0s 481us/step - loss: 0.5535 - accuracy: 0.7318
Epoch 12/100
804/804 [==============================] - 0s 501us/step - loss: 0.5529 - accuracy: 0.7317
Epoch 13/100
804/804 [==============================] - 1s 644us/step - loss: 0.5527 - accuracy: 0.7322
Epoch 14/100
804/804 [==============================] - 0s 476us/step - loss: 0.5521 - accuracy: 0.7320
Epoch 15/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5520 - accuracy: 0.7330
Epoch 00015: saving model to checkpoints_challenge\weights.15.hdf5
804/804 [==============================] - 0s 601us/step - loss: 0.5518 - accuracy: 0.7332
Epoch 16/100
804/804 [==============================] - 0s 616us/step - loss: 0.5517 - accuracy: 0.7317
Epoch 17/100
804/804 [==============================] - 0s 581us/step - loss: 0.5514 - accuracy: 0.7318
Epoch 18/100
804/804 [==============================] - 0s 548us/step - loss: 0.5516 - accuracy: 0.7319
Epoch 19/100
804/804 [==============================] - 0s 573us/step - loss: 0.5511 - accuracy: 0.7321
Epoch 20/100
720/804 [=========================>....] - ETA: 0s - loss: 0.5535 - accuracy: 0.7299
Epoch 00020: saving model to checkpoints_challenge\weights.20.hdf5
804/804 [==============================] - 0s 605us/step - loss: 0.5514 - accuracy: 0.7320
Epoch 21/100
804/804 [==============================] - 0s 572us/step - loss: 0.5511 - accuracy: 0.7319
Epoch 22/100
804/804 [==============================] - 0s 563us/step - loss: 0.5512 - accuracy: 0.7322
Epoch 23/100
804/804 [==============================] - 0s 600us/step - loss: 0.5509 - accuracy: 0.7323
Epoch 24/100
804/804 [==============================] - 0s 613us/step - loss: 0.5509 - accuracy: 0.7323
Epoch 25/100
797/804 [============================>.] - ETA: 0s - loss: 0.5511 - accuracy: 0.7323
Epoch 00025: saving model to checkpoints_challenge\weights.25.hdf5
804/804 [==============================] - 1s 663us/step - loss: 0.5508 - accuracy: 0.7326
Epoch 26/100
804/804 [==============================] - 1s 662us/step - loss: 0.5507 - accuracy: 0.7333
Epoch 27/100
804/804 [==============================] - 0s 579us/step - loss: 0.5506 - accuracy: 0.7326
Epoch 28/100
804/804 [==============================] - 0s 561us/step - loss: 0.5500 - accuracy: 0.7324
Epoch 29/100
804/804 [==============================] - 0s 549us/step - loss: 0.5504 - accuracy: 0.7335
Epoch 30/100
783/804 [============================>.] - ETA: 0s - loss: 0.5496 - accuracy: 0.7334
Epoch 00030: saving model to checkpoints_challenge\weights.30.hdf5
804/804 [==============================] - 0s 601us/step - loss: 0.5501 - accuracy: 0.7328
Epoch 31/100
804/804 [==============================] - 0s 573us/step - loss: 0.5500 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 0s 615us/step - loss: 0.5499 - accuracy: 0.7327
Epoch 33/100
804/804 [==============================] - 1s 630us/step - loss: 0.5499 - accuracy: 0.7327
Epoch 34/100
804/804 [==============================] - 0s 609us/step - loss: 0.5495 - accuracy: 0.7332
Epoch 35/100
790/804 [============================>.] - ETA: 0s - loss: 0.5496 - accuracy: 0.7332
Epoch 00035: saving model to checkpoints_challenge\weights.35.hdf5
804/804 [==============================] - 1s 660us/step - loss: 0.5498 - accuracy: 0.7330
Epoch 36/100
804/804 [==============================] - 1s 634us/step - loss: 0.5498 - accuracy: 0.7328
Epoch 37/100
804/804 [==============================] - 1s 675us/step - loss: 0.5497 - accuracy: 0.7331
Epoch 38/100
804/804 [==============================] - 1s 637us/step - loss: 0.5494 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 0s 561us/step - loss: 0.5496 - accuracy: 0.7330
Epoch 40/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5498 - accuracy: 0.7337
Epoch 00040: saving model to checkpoints_challenge\weights.40.hdf5
804/804 [==============================] - 1s 807us/step - loss: 0.5495 - accuracy: 0.7331
Epoch 41/100
804/804 [==============================] - 1s 682us/step - loss: 0.5494 - accuracy: 0.7332
Epoch 42/100
804/804 [==============================] - 0s 560us/step - loss: 0.5494 - accuracy: 0.7337
Epoch 43/100
804/804 [==============================] - 0s 574us/step - loss: 0.5493 - accuracy: 0.7336
Epoch 44/100
804/804 [==============================] - 0s 550us/step - loss: 0.5495 - accuracy: 0.7334
Epoch 45/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5476 - accuracy: 0.7342
Epoch 00045: saving model to checkpoints_challenge\weights.45.hdf5
804/804 [==============================] - 0s 558us/step - loss: 0.5492 - accuracy: 0.7332
Epoch 46/100
804/804 [==============================] - 0s 545us/step - loss: 0.5493 - accuracy: 0.7338
Epoch 47/100
804/804 [==============================] - 0s 535us/step - loss: 0.5493 - accuracy: 0.7340
Epoch 48/100
804/804 [==============================] - 0s 609us/step - loss: 0.5492 - accuracy: 0.7341
Epoch 49/100
804/804 [==============================] - 0s 593us/step - loss: 0.5490 - accuracy: 0.7331
Epoch 50/100
714/804 [=========================>....] - ETA: 0s - loss: 0.5488 - accuracy: 0.7328
Epoch 00050: saving model to checkpoints_challenge\weights.50.hdf5
804/804 [==============================] - 0s 604us/step - loss: 0.5489 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 0s 528us/step - loss: 0.5488 - accuracy: 0.7335
Epoch 52/100
804/804 [==============================] - 0s 540us/step - loss: 0.5489 - accuracy: 0.7333
Epoch 53/100
804/804 [==============================] - 0s 579us/step - loss: 0.5491 - accuracy: 0.7329
Epoch 54/100
804/804 [==============================] - 0s 546us/step - loss: 0.5488 - accuracy: 0.7334
Epoch 55/100
724/804 [==========================>...] - ETA: 0s - loss: 0.5495 - accuracy: 0.7324
Epoch 00055: saving model to checkpoints_challenge\weights.55.hdf5
804/804 [==============================] - 0s 581us/step - loss: 0.5486 - accuracy: 0.7333
Epoch 56/100
804/804 [==============================] - 0s 552us/step - loss: 0.5488 - accuracy: 0.7331
Epoch 57/100
804/804 [==============================] - 0s 561us/step - loss: 0.5486 - accuracy: 0.7336
Epoch 58/100
804/804 [==============================] - 0s 573us/step - loss: 0.5489 - accuracy: 0.7338
Epoch 59/100
804/804 [==============================] - 0s 551us/step - loss: 0.5486 - accuracy: 0.7338
Epoch 60/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5485 - accuracy: 0.7337
Epoch 00060: saving model to checkpoints_challenge\weights.60.hdf5
804/804 [==============================] - 1s 637us/step - loss: 0.5484 - accuracy: 0.7333
Epoch 61/100
804/804 [==============================] - 0s 580us/step - loss: 0.5486 - accuracy: 0.7336
Epoch 62/100

804/804 [==============================] - 0s 555us/step - loss: 0.5485 - accuracy: 0.7345
Epoch 63/100
804/804 [==============================] - 0s 559us/step - loss: 0.5489 - accuracy: 0.7338
Epoch 64/100
804/804 [==============================] - 0s 546us/step - loss: 0.5485 - accuracy: 0.7333
Epoch 65/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5485 - accuracy: 0.7338
Epoch 00065: saving model to checkpoints_challenge\weights.65.hdf5
804/804 [==============================] - 1s 681us/step - loss: 0.5484 - accuracy: 0.7337
Epoch 66/100
804/804 [==============================] - 0s 576us/step - loss: 0.5487 - accuracy: 0.7341
Epoch 67/100
804/804 [==============================] - 0s 522us/step - loss: 0.5487 - accuracy: 0.7339
Epoch 68/100
804/804 [==============================] - 0s 526us/step - loss: 0.5483 - accuracy: 0.7339
Epoch 69/100
804/804 [==============================] - 0s 531us/step - loss: 0.5482 - accuracy: 0.7345
Epoch 70/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5481 - accuracy: 0.7333
Epoch 00070: saving model to checkpoints_challenge\weights.70.hdf5
804/804 [==============================] - 0s 545us/step - loss: 0.5484 - accuracy: 0.7331
Epoch 71/100
804/804 [==============================] - 0s 534us/step - loss: 0.5484 - accuracy: 0.7343
Epoch 72/100
804/804 [==============================] - 0s 547us/step - loss: 0.5486 - accuracy: 0.7338
Epoch 73/100
804/804 [==============================] - 0s 574us/step - loss: 0.5485 - accuracy: 0.7342
Epoch 74/100
804/804 [==============================] - 0s 535us/step - loss: 0.5486 - accuracy: 0.7334
Epoch 75/100
791/804 [============================>.] - ETA: 0s - loss: 0.5487 - accuracy: 0.7333
Epoch 00075: saving model to checkpoints_challenge\weights.75.hdf5
804/804 [==============================] - 0s 598us/step - loss: 0.5483 - accuracy: 0.7336
Epoch 76/100
804/804 [==============================] - 0s 589us/step - loss: 0.5486 - accuracy: 0.7332
Epoch 77/100
804/804 [==============================] - 0s 563us/step - loss: 0.5482 - accuracy: 0.7334
Epoch 78/100
804/804 [==============================] - 0s 586us/step - loss: 0.5484 - accuracy: 0.7339
Epoch 79/100
804/804 [==============================] - 0s 566us/step - loss: 0.5482 - accuracy: 0.7338
Epoch 80/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5479 - accuracy: 0.7339
Epoch 00080: saving model to checkpoints_challenge\weights.80.hdf5
804/804 [==============================] - 0s 556us/step - loss: 0.5482 - accuracy: 0.7334
Epoch 81/100
804/804 [==============================] - 0s 553us/step - loss: 0.5481 - accuracy: 0.7341
Epoch 82/100
804/804 [==============================] - 1s 687us/step - loss: 0.5483 - accuracy: 0.7335
Epoch 83/100
804/804 [==============================] - 1s 899us/step - loss: 0.5483 - accuracy: 0.7334
Epoch 84/100
804/804 [==============================] - 1s 746us/step - loss: 0.5484 - accuracy: 0.7338
Epoch 85/100
725/804 [==========================>...] - ETA: 0s - loss: 0.5481 - accuracy: 0.7340
Epoch 00085: saving model to checkpoints_challenge\weights.85.hdf5
804/804 [==============================] - 0s 581us/step - loss: 0.5481 - accuracy: 0.7345
Epoch 86/100
804/804 [==============================] - 1s 677us/step - loss: 0.5481 - accuracy: 0.7341
Epoch 87/100
804/804 [==============================] - 0s 564us/step - loss: 0.5480 - accuracy: 0.7337
Epoch 88/100
804/804 [==============================] - 1s 639us/step - loss: 0.5479 - accuracy: 0.7343
Epoch 89/100
804/804 [==============================] - 0s 614us/step - loss: 0.5478 - accuracy: 0.7340
Epoch 90/100
715/804 [=========================>....] - ETA: 0s - loss: 0.5473 - accuracy: 0.7348
Epoch 00090: saving model to checkpoints_challenge\weights.90.hdf5
804/804 [==============================] - 1s 736us/step - loss: 0.5483 - accuracy: 0.7338
Epoch 91/100
804/804 [==============================] - 1s 769us/step - loss: 0.5483 - accuracy: 0.7342
Epoch 92/100
804/804 [==============================] - 1s 702us/step - loss: 0.5482 - accuracy: 0.7336
Epoch 93/100
804/804 [==============================] - 1s 664us/step - loss: 0.5482 - accuracy: 0.7345
Epoch 94/100
804/804 [==============================] - 1s 721us/step - loss: 0.5482 - accuracy: 0.7339
Epoch 95/100
773/804 [===========================>..] - ETA: 0s - loss: 0.5478 - accuracy: 0.7337
Epoch 00095: saving model to checkpoints_challenge\weights.95.hdf5
804/804 [==============================] - 1s 698us/step - loss: 0.5481 - accuracy: 0.7336
Epoch 96/100
804/804 [==============================] - 1s 732us/step - loss: 0.5479 - accuracy: 0.7340
Epoch 97/100
804/804 [==============================] - 1s 693us/step - loss: 0.5482 - accuracy: 0.7340
Epoch 98/100
804/804 [==============================] - 1s 709us/step - loss: 0.5480 - accuracy: 0.7340
Epoch 99/100
804/804 [==============================] - 1s 664us/step - loss: 0.5481 - accuracy: 0.7340
Epoch 100/100
790/804 [============================>.] - ETA: 0s - loss: 0.5481 - accuracy: 0.7341
Epoch 00100: saving model to checkpoints_challenge\weights.100.hdf5
804/804 [==============================] - 1s 795us/step - loss: 0.5479 - accuracy: 0.7344

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.6820 - accuracy: 0.5785
Loss: 1.681983232498169, Accuracy: 0.5785422921180725